<div>
  <!-- <mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-icon style="color: yellow;">flight</mat-icon>
  <span>Bharat Travel</span>
  <span class="example-spacer"></span>
  <button routerLink="" mat-button>Home</button>
  <button routerLink="flights" mat-button>Flights</button>
  <button routerLink="hotels" mat-button>Hotels</button>
  <button routerLink="trains" mat-button>Trains</button>
  <button routerLink="cabs" mat-button>Cabs</button>
  <button routerLink="bus" mat-button>Bus</button>
  <button routerLink="holidays" mat-button>Holidays</button>
</mat-toolbar> -->

  <mat-toolbar color="primary" class="mat-elevation-z6">
    <!-- <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div> -->
    <mat-icon style="color: yellow;">flight</mat-icon>

    <a mat-button class="companyName" routerLink="/">
      <span>Bharat Travels</span>
    </a>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <button routerLink="" mat-button>Home</button>
      <button routerLink="flights" mat-button>Flights</button>
      <button routerLink="hotels" mat-button>Hotels</button>
      <button routerLink="trains" mat-button>Trains</button>
      <button routerLink="cabs" mat-button>Cabs</button>
      <button routerLink="bus" mat-button>Bus</button>
      <button routerLink="holidays" mat-button>Holidays</button>

      <button [matMenuTriggerFor]="simpleDropdown" mat-button>test</button>
      <mat-menu #simpleDropdown="matMenu">
        <button mat-menu-item>Term</button>
        <button mat-menu-item>Tax</button>
        <button mat-menu-item>Currency</button>
      </mat-menu>

      <button [matMenuTriggerFor]="complexDropdown" mat-button>Master</button>
      <mat-menu #complexDropdown="matMenu">
        <button [matMenuTriggerFor]="company" mat-menu-item>Company</button>
        <button [matMenuTriggerFor]="customer" mat-menu-item>Customer</button>
        <button [matMenuTriggerFor]="product" mat-menu-item>Product</button>
      </mat-menu>

      <mat-menu #company="matMenu">
        <button mat-menu-item>Term</button>
        <button mat-menu-item>Tax</button>
        <button mat-menu-item>Currency</button>
      </mat-menu>
      <mat-menu #customer="matMenu">
        <button mat-menu-item>Type</button>
        <button mat-menu-item>Tax</button>
      </mat-menu>
      <mat-menu #product="matMenu">
        <button mat-menu-item>Category</button>
        <button [matMenuTriggerFor]="variant" mat-menu-item>Variant</button>
        <button mat-menu-item>UOM</button>
      </mat-menu>

      <mat-menu #variant="matMenu">
        <button mat-menu-item>Color</button>
        <button mat-menu-item>Size</button>
      </mat-menu> 

    </div>

  </mat-toolbar>
  <!-- <mat-sidenav-container fxFlexFill class="example-container">

    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true" style="min-width: 180px;">
      <div fxLayout="column" style="overflow: hidden;">
        <button routerLink="" mat-button>Home</button>
      <button routerLink="flights" mat-button>Flights</button>
      <button routerLink="hotels" mat-button>Hotels</button>
      <button routerLink="trains" mat-button>Trains</button>
      <button routerLink="cabs" mat-button>Cabs</button>
      <button routerLink="bus" mat-button>Bus</button>
      <button routerLink="holidays" mat-button>Holidays</button>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container> -->
</div>